:root {
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: Black;
  background-color: #f0f0f0;
}

.title {
  text-align: center;
}
.ant-select-selector {
  margin-left: 5opx;
  width: 900px;
}
.crime-display {
  margin: 10px;
}
.d-flex {
  display: flex;
  justify-content: space-between;
}
.map p {
  font-weight: 500;
}

.map-title {
  width: 900px;
}

.map-title h2 {
  text-align: center;
}
.error-message {
  color: red;
  margin: 5px;
}
